{% extends "base.html.twig" %} 
{% block body %}
<div class="jumbotron text-center">
    <div class="container">
        <h1>Agence Lorem Ipsum</h1>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas, omnis accusamus quidem voluptatibus accusantium maiores quod laboriosam inventore quasi, nam sapiente alias, quos magni? Facere ipsa quae saepe! A, laboriosam.</p>
    </div>
</div>

{% endblock %}